{% extends 'base.html.twig' %}

{% block title %}Functie index{% endblock %}

{% block body %}
    <h1>Functie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for functie in functies %}
            <tr>
                <td>{{ functie.id }}</td>
                <td>{{ functie.name }}</td>
                <td>
                    <a href="{{ path('functie_show', {'id': functie.id}) }}">show</a>
                    <a href="{{ path('functie_edit', {'id': functie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('functie_new') }}">Create new</a>
{% endblock %}
