{% extends 'admin/layout.html.twig' %}

{% block title %}Reservering index{% endblock %}

{% block card_header %}<h1>Reservering index</h1>{% endblock %}

{% block main_content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>CheckinDate</th>
                <th>CheckoutDate</th>
                <th>Enabled</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservering in reserverings %}
            <tr>
                <td>{{ reservering.id }}</td>
                <td>{{ reservering.checkinDate ? reservering.checkinDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservering.checkoutDate ? reservering.checkoutDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservering.enabled ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('reservering_show', {'id': reservering.id}) }}">show</a>
                    <a href="{{ path('reservering_edit', {'id': reservering.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservering_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
