{% extends 'admin/layout.html.twig' %}

{% block title %}User index{% endblock %}

{% block main_header_content %}
    <div class="row mx-0">
        <h1 class="col px-0 navbar-dark">User index</h1>
        <div class="col d-flex justify-content-end align-items-center px-0">
            <a href="{{ path('user_new') }}" class="btn btn-danger">Create new</a>
        </div>
    </div>
{% endblock %}

{% block main_body_classes %}p-0{% endblock %}

{% block main_body_content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Username</th>
            <th>UsernameCanonical</th>
            <th>Email</th>
            <th>EmailCanonical</th>
            <th>Enabled</th>
            <th>Salt</th>
            <th>Password</th>
            <th>LastLogin</th>
            <th>ConfirmationToken</th>
            <th>PasswordRequestedAt</th>
            <th>Roles</th>
            <th>Id</th>
            <th>Last_activity</th>
            <th>Tel_nr</th>
            <th>Mobile_nr</th>
            <th>First_name</th>
            <th>Insertion_name</th>
            <th>Last_name</th>
            <th>Adress</th>
            <th>Zip</th>
            <th>City</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.usernameCanonical }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.emailCanonical }}</td>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ user.salt }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.confirmationToken }}</td>
                <td>{{ user.passwordRequestedAt ? user.passwordRequestedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.lastActivity }}</td>
                <td>{{ user.telNr }}</td>
                <td>{{ user.mobileNr }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.insertionName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.adress }}</td>
                <td>{{ user.zip }}</td>
                <td>{{ user.city }}</td>
                <td>
                    <a class="btn btn-danger border-secondary" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a class="btn btn-danger border-secondary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
